html{
    background-image: url("/static/files/IMG-20240412-WA0064.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
center button{
    width: 200px;
    height: 50px;
    font-size: 40px;
    margin: 1%;
    border-radius: 10px;
}
.qBtn button{
    border: 2px solid purple;
}
center button:nth-child(1){
    background-color: blue;
}
center button:nth-child(2){
    background-color: green;
}
center button:nth-child(3){
    background-color: purple;
}
center button:nth-child(4){
    background-color: red;
}